.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.jumbotron h1 {
  font-style: italic;
  font-family: serif;
}

li.li{
  border-Width:1px;
  padding-Top:10px;
  padding-Bottom:10px;
}

.navbar-fixed-bottom{
  background-color:rgb(34,34,34)
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#jumbotronHome {
    margin-top: 50px;
    background-image: url('party-in-barcelona.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
    width: 100%;
}

#titleHome{
    color:rgb(52,69,73);
}

#mapEvent{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 92vh;
  width: 100%;
  border: solid;
}

#marker{
  position: 'absolute';
  width: 56;
  height: 56;
  left: -28;
  top: -28;
}
#affichagePhotos{
  margin-left: 5%;
  margin-right: 5%;
  border:double;
}

#divG{
  margin-top:65px;
}

#ulSep{
  border-Top:solid;
  border-Color:grey;
  border-Width:1px;
  padding-Top:20px;
}

#divSep{
  margin-Bottom:10px;
  border-Top:solid;
  border-Width:1px;
  border-Color:lightgrey
}

.formEvent{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.eventInput, .location-search-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.timeInput{
  width: 25%;
  left: 0px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.labelTime{
  width: 25%;
}

#panelEvent{
  background-image: url("https://preview.ibb.co/jwBXjd/backgroundtest2.png");
}

label{
  color: white;
}
